/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
}
::selection{
  color: #fff;
  background: #5256AD;
}
.wrapper{
  width: 370px;
  padding: 25px 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
  float: left;
  margin-right: 30px;
}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form{
  margin: 35px 0 20px;
}
form .row{
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
form .row label{
  font-size: 18px;
  margin-bottom: 5px;
}
form .row:nth-child(2) label{
  font-size: 17px;
}
form :where(textarea, select, button){
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}
form .row textarea{
  resize: none;
  height: 110px;
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid #999;
}
form .row textarea::-webkit-scrollbar{
  width: 0px;
}
form .row .outer{
  height: 47px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
form .row select{
  font-size: 14px;
  background: none;
}
form .row select::-webkit-scrollbar{
  width: 8px;
}
form .row select::-webkit-scrollbar-track{
  background: #fff;
}
form .row select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  background: #675AFE;
  transition: 0.3s ease;
}
form button:hover{
  background: #4534fe;
}

@media(max-width: 400px){
  .wrapper{
    max-width: 345px;
    width: 100%;
  }
}

:root {
  --primary-color: #356aff;
  --bg-color: #fff;
  --text-color: #000;
  --light-text-color: #a5a5a5;
  --body-bg-color: #f5f5f5;
}


.container {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}
.container .heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.container .options select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  outline: none;
}
.container .options div:not(:last-child) select {
  margin-bottom: 20px;
}

.container .options p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--light-text-color);
}
.container .line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--light-text-color);
  opacity: 0.5;
  margin: 30px 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  height: 60px;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}
.btn ion-icon {
  font-size: 30px;
}
.btn:disabled {
  background-color: var(--light-text-color);
  cursor: not-allowed;
}
.container .record img {
  width: 30px;
  height: 30px;
  display: none;
}
.container .record.recording img {
  display: block;
}
.container .record.recording ion-icon {
  display: none;
}
.container .result {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}
.container .result p {
  display: inline;
  margin-left: 3px;
  color: var(--light-text-color);
}
.buttons {
  display: flex;
  gap: 20px;
}

/* Start Button Style */
.start-button {
  border-radius: 1rem;
  font-weight: bolder;
  margin: 50px;
  width: 10rem;
  background-color: #4CAF50; /* Green background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the button */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  font-size: 16px; /* Font size */
}

/* Stop Button Style */
.stop-button {
  border-radius: 1rem;
  font-weight: bolder;
  width: 10rem;
  background-color: #FF0000; /* Red background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the button */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  font-size: 16px; /* Font size */
}

#voiceData{
  position: absolute;
  top: 15%;
  width: 30rem;
  padding: 100px;
  font-weight: bolder;
}