/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #1a0e46;
}


/* Start Button Style */
.start-button {
  border-radius: 1rem;
  font-weight: bolder;
  margin: 50px;
  width: 10rem;
  background-color: #4CAF50; /* Green background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the button */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  font-size: 16px; /* Font size */
  position: absolute;
  z-index: 2000;
}

/* Stop Button Style */
.stop-button {
  border-radius: 1rem;
  font-weight: bolder;
  width: 10rem;
  background-color: #FF0000; /* Red background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the button */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  font-size: 16px; /* Font size */
  left: 30%;
  position: absolute;
  z-index: 2000;
}

#voiceData{
  color: aliceblue;
  text-align: left;
  font-size: 1rem;
  position: absolute;
  scroll-behavior: smooth;
  bottom: 20px;
  width: 80rem;
  padding: 100px;
  font-weight: bolder;
  background: transparent;
  border: none;
  position: absolute;
  z-index: 2000;
}

video{
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

h1{
  position: absolute;
  z-index: 2000;
  top: 0;
  color: aliceblue;
}